*{
    box-sizing: border-box;
}
:root{
    --primary-color:#004bec;
}
body{
    display: grid;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 75%;
    /* height: 80%; */
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 9fr 1fr;
    margin: auto;
    background-color: aliceblue;
    gap: .5em;
    box-shadow: 0 0 2em gray;
}
h1,h2,h3,p{
    margin: 0;
    color: #272626;
    /* font-size: 1.1em; */
}
h1{
    background-color: hsla(183, 33%, 89%, 0.911);
    padding: .3em .6em;
    border-radius: .2em;
    color: var(--primary-color);
}
h2{
    /* text-align: center; */
    margin-bottom: 1em;
}
p{
    font-style: italic;
}
.main-item{
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    padding: 1em;
    /* grid-auto-flow: column; */

}
footer{
    grid-column: 1/3;
    border-top: 2px solid var(--primary-color);
}
@keyframes example {
  0%   {border-color: red;}
  25%  {border-color: yellow;}
  50%  {border-color: blue;}
  100% {border-color: green;}
}

.campus-cusco{
    /* object-fit: cover; */
    width: 200px;
    height: 200px;
    border: .3em solid;
    padding: .2em;
    border-radius: 50%;
    box-shadow: 1px 2px .5em gray;
    animation: example 5s infinite;
    /* animation-name: example;
    animation-duration: 5s; */
  }
  aside{
    background: linear-gradient(to top, #ffffff,#1a90a0);
    /* background: linear-gradient(to top ,#80FFDB, #5390D9); */
  }
  .profile_container{
    border-color: #1a90a0;
    border-width: 1px 0px 1px 0px;
    border-style: dashed;
    padding: .5rem;
  }

  .profile{
    display: flex;
    margin-bottom:.4em;
    padding: .3em 0 .3em 0 ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #acacac;
  }
  .profile>a{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: .3em;
    text-decoration: none;
    padding: .2em .6em;
    font-weight: 450;
  }
  .profile>a:hover{
    background-color: var(--primary-color);
    color: #fff;
  }
  .profile_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile_item>img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5em;
  }
